.blog_posts h2, 
.blog_posts h3 {
    margin: 0;
}
.blog_posts {
    position: relative;
    margin-left: 12%;
    max-width: 1488px;
}

.blog_posts .title img {
    width: 470px;
    max-height: 200px;
    margin-right: 50px;
    box-shadow:3px 3px 9px -2px rgb(140 140 140);
    border-radius: 6px;
}

.blog_posts_circle_01 {
    width: 32%;
    position: absolute;
    top: 32%;
    left: -22%;
}

.blog_posts_circle_03 {
    width: 38%;
    position: absolute;
    top: 77%;
    right: 12%;
}

.title { 
    position: relative;
    display: flex;
}

#title__avatar-1 {
    display: none;
}

.title > div > div {
    display: flex;
    justify-content: space-between;
}

.title > div > div:nth-child(3) {
    max-width: 97%;
}


.title >  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    max-width: 1226px;
}

.title > div > div:nth-child(5) {
    justify-content: center;
    
}


.title a {
    text-decoration: none;
    color: #DFB594;
}
