/*  Colors
**************************************** */
$c-black: #000;
$c-white: #fff;
$c-SilverChalice: #a9a9a9 ;
$c-Alto: #d4d4d4;
$c-Silver: #bcbcbc;
$c-DustyGrayOpaciti_85: #989696d9;
$c-HummingBird: #cef8f8;
$c-whiteOpaciti_68: #ffffffad;
$c-Gray: #8c8c8c;
$c-Calico: #DFB594;
$c-Coffee: #6F655A;
$c-MandysPink: #F0CAAC;
$c-DustyGrayOpaciti_66: #989696a8;
$c-Pancho: #ebc3a5;
$c-aliceblue: #f0f8ff;
$c-whiteOpaciti_93: #ffffffed;
