/*  Colors
**************************************** */

$c-black: #000;
$c-white: #fff;
$c-SilverChalice: #a9a9a9 ;
$c-Alto: #d4d4d4;
$c-Silver: #bcbcbc;
$c-DustyGrayOpaciti_85: #989696d9;
$c-HummingBird: #cef8f8;
$c-whiteOpaciti_68: #ffffffad;
$c-Gray: #8c8c8c;
$c-Calico: #DFB594;
$c-Coffee: #6F655A;
$c-MandysPink: #F0CAAC;
$c-MandysPinkOpacity70: #f0caacb3;
$c-DustyGrayOpaciti_66: #989696a8;
$c-Pancho: #ebc3a5;
$c-aliceblue: #f0f8ff;
$c-whiteOpaciti_93: #ffffffed;

/*  Paddings, Margins
**************************************** */

$space-1P: 1%;
$space_-1P: -1%;
$space-1_5P: 1.5%;
$space-2P: 2%;
$space-3P: 3%;
$space-4P: 4%;
$space-5P: 5%;
$space-6P: 6%;
$space_-6P: -6%;
$space-7P: 7%;
$space_-7P: -7%;
$space-8P: 8%;
$space-10P: 10%;
$space-12P: 12%;
$space_-12P: -12%;
$space-15P: 15%;
$space-30P: 30%;
$space-83P: 83%;
$space-86P: 86%;
$space-90P: 90%;

$space-xxx-small: 2px;
$space-xxl-small: 6px;
$space-x-small: 10px;
$space-xl-small: 15px;
$space-standart: 20px;
$space-standart-24: 24px;
$space-medium: 30px;
$space-medium32: 32px;
$space-medium-38: 38px;
$space-medium-55: 55px;
$space-x-large: 64px;
$space-xxl210: 210px;
$space-xxl230: 230px;
$space-xxl245: 245px;
$space-xxl265: 265px;
$space-xxl290: 290px;












