.content {
    position: relative;
}

.content__conteiner {
    height: 666px;
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
}

.content__conteiner 
.circle_01 {
    position: absolute;
    left: 73%;
    top: 13.3%;
    width: 27%;
}

.content__conteiner
.circle_01 img {
    width: 100%;
    position: absolute;
}

.content__conteiner
.circle_02 {
    position: absolute;
    width: 23%;
    top: 32%;
    left: 27.6%;
}

.content__conteiner
.circle_02 img {
    width: 100%;
}

.content__avatar {
    position: relative;
    max-width: 555px;
    height: 610px;
}

.content__conteiner 
.content__avatar 
img:nth-child(1) {
    position: absolute;
    right: 44%;
    bottom: 31.5%;
    width: 100.5%;
}

.content__avatar img:nth-child(2) {
    max-width: 100%;
    min-height: 100%;
}

.content__avatar img {
    border-radius: 6px;
}

.info {
    position: relative;
    width: 53%;
    margin: 5% 0 0 -7%;
}

.info__title {
    display: flex;
    border-radius: 10px;
    height: 295px;
    background-color:#ffffffad;
    box-shadow: 3px 3px 9px -2px rgb(140 140 140);
}

.info .content__avatar {
    display: none;
}

.info__name {
    margin-top: 20px;
    margin-left: 3%;
    width: 64%;
}

.info__name h2, 
.info__name h3,
.info__contact h2 {
    text-align: left;
    margin: 0;
}

.general-title {
    font-family: 'Raleway Medium';
    font-weight: normal;
    font-size: 38px;
}

.general-title--black {
    color: black;
}

.general-title--beige {
    color: #DFB594;
}

.info__name h2 {
    width: 160%;
}

.info__name :nth-child(4) {
   margin-top: 0;
   padding-bottom: 3px;
}

.info_link {
    display: flex;
    align-items: flex-end;
}

.info_link > div, 
.info_link > div > a {
    display: flex;
    align-items: center;
}

.info_link > div div {
    width: 19vh;
}

.info_link a {
    color: #6F655A;
}

.info_link > 
div a:first-child:hover{
    font-weight: bold;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

.info_link img {
    width: 70px;
    transition: .3s;
}

.info_link img:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: linear;
    transition-duration: 0.15s;
}

.info__contact, 
.info__contact h2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 20px;
}

.info__contact p {
    margin-bottom: 28px;
}

.info__but button {
    width: 197px;
    height: 67px;
    border: none;
    cursor: pointer;
    text-align: center;
    background:#F0CAAC;
    border-radius: 6px;
    box-shadow: 4px 4px 7px -1px rgb(152 150 150 / 66%);
    transition: .15s;
}

.info__but :first-child {
    margin-right: 4%;
}

.info__but button:hover {
    background:#ebc3a5;
    transition: .15s;
}

.about {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.about__me {
    margin-left: 4.5%;
}

.about .about__me h2,
.about__skills h2 {
    margin: 6% 0 0 0;
}

.about__me h3 {
    margin: 0;
}

.about__me p {
    text-align: justify;
}

.about__me :first-child,
.about__interests {
    max-width: 592px;
}

.about__interests img {
    max-width: 100%;
    min-height: 100%;
    transition: 0.3s;
}

#easy_code:hover {
    transform: scale(1.14, 1.14);
    transition-timing-function: ease-out;
    transition: all 0.3s ease-out;
}

.about__interests div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about__interests div:nth-child(2) div {
    width: 270px;
    height: 100px;
}

.about__interests div:nth-child(2) p {
    text-align: right;
    font-weight: 900;
    width: 100%;
}

.about__interests ul {
    padding-left: 0;
}

.about__interests ul > li {
    list-style-type: none;
}

.about__interests ul > li:before {
    content: '\2022';
    font-size: x-large;
    padding-right: 8px;
}

.about__interests img {
    width: 185px;
  }

.about__skills {
    margin-left: -3.5%;
    width: 760px;
    box-shadow: 3px 3px 9px -2px rgb(140 140 140);
    border-radius: 6px;
    height: 685px;
}

.about__skills > div {
    margin-left: 9%;
}

.about__skills img {
    position: absolute;
    left: 72%;
    top: 31.6%;
    width: 28%;
}

.about__skills-empty {
    width: 70%;
    margin-top: 14%;
    position: relative;
    top: -30px;
}

.about__skills-empty div {
    background-color: aliceblue;
    margin-bottom: 20px;
    height: 47px;
    border-radius: 8px;
    width: 100%;
}

.about__skills-name {
    position: relative;
    bottom: 433px;
    width: 70%;
   
}

.about__skills-name div {
    background-image: url(../../assets/elements/_elementy_gradient_menu.png);
    width: 39%;
    background-repeat: no-repeat;
    background-position: 17% 33%;
    margin-bottom: 20px;
    height: 47px;
    border-radius: 8px;
    background-size: 129% 273%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    box-shadow: 3px 3px 9px -2px rgb(140 140 140);
}

.about__skills-name .php {
    width: 24%;
    min-width: 112px;
}

.about__skills-name .js {
    width: 60%;
}

.about__skills-name .html {
    width: 81%;
}

.about__skills-name .nodejs {
    width: 18%;
    min-width: 147px;
}

.about__skills-name .css {
    width: 85%;
}

.about__skills-name .go {
    width: 25%;
    min-width: 95px;
}


.about__skills-name span {
    margin-right: 10px;
    font-size: 20.17px; 
    color: white;
}

.about .circle_03 {
    position: absolute;
}

.about .circle_03 img {
    width: 42%;
    position: absolute;
    right: 92%;
    top: 77%;
}