@media only screen and (max-width: 1600px) {
    .about__skills {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1440px) {

    .content__conteiner {
        margin-top: 0;
    }

    .info {
        width: 60%;
        margin-top: 8%;
    }

    .info__title {
        height: 260px;
    }

    .general-title {
        font-size: 31px;
    }

    .content__avatar {
        top: 66px;
        left: 42px;
        max-width: 487px;
        height: 537px;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 440px;
    }

    .about__skills {
        width: 46%;
        height: 710px;
        margin-left: -3.5%;
    }

    .about__skills-empty div {
        margin-bottom: 32px;
    }

    .about__skills-name div {
        margin-bottom: 32px;
    }

    .about__skills-name {
        bottom: 504px;
    }


}

@media only screen and (max-width: 1224px) {

    body {
        font-size: 18px;
    }

    .content__conteiner {
        margin-top: 0;
        height: 566px;
    }

    .content__conteiner 
    .circle_02 {
        width: 27.5%;
        top: 29%;
        left: 32.8%;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        right: 44%;
        bottom: 36.5%;
        width: 94.5%;
    }

    .content__avatar {
        top: 60px;
        left: -13px;
        max-width: 424px;
        height: 463px;
    }

    .info {
        margin-top: 12%;
        width: 60%;
    }

    .info__title {
        height: 212px;
    }

    .info__name {
        margin-top: 12px;
    }

    .info__name h2 {
        width: 164%;
    }

    .info_link > div div {
        padding-right: 0;
        width: 128px;
    }

    .info_link > div > a img {
        width: 49px;
    }

    .info__but button {
        width: 171px;
        height: 52px;
    }

    button {
        font-size: 18.4px;
    }

    .about__me {
        margin-left: 3.5%;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 334px;
    }

    .about__interests img {
        width: 176px;
    }

    .about__skills {
        height: 600px;
    }

    .about__skills p {
        width: 93%;
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 80%;
    }

    .about__skills-empty div,
    .about__skills-name div {
        margin-bottom: 24px;
        height: 43px;
    }

    .about__skills-name {
        bottom: 433px;
    }
       

}

@media only screen and (max-width: 990px) {

    .content {
        margin: 0% 6% 0;
    }

    .content__conteiner {
        margin-left: 2%;
    }

    .content__conteiner 
    .circle_01 {
        width: 43%;
        left: 63.7%;
    }

    .content__conteiner 
    .circle_02 {
        top: 25.5%;
        width: 32%;
        left: 36%;
    }

    .content__avatar {
        max-width: 390px;
        height: 358px;
    }
    
    .content__conteiner 
    .content__avatar img:nth-child(1) {
        right: 61%;
        bottom: 21%;
        width: 100%;
    }

    .content__avatar img:nth-child(2) {
        max-width: 86%;
    }

    .content__avatar img {
        border-radius: 4%;
    }

    .info {
        max-width: 522px;
        margin-top: 4%;
        margin-left: -6%;
    }

    .info__title {
        height: 215px;
        flex-direction: column;
        min-width: 500px;
    }

    .info__name {
        width: 96%;
    }

    .info__name h2 {
        width: 99%;
    }

    .info_link {
        flex-direction: row;
        justify-content: flex-end;
    }

    .info__contact, 
    .info__contact h2 {
        margin-top: 2%;
    }

    .info__but button {
        width: 139px;
        height: 46px;
        font-size: 16.4px;
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: -12%;
    }

    .about__me  {
        max-width: 83%;
    }

    .about__me :first-child, .about__interests {
        max-width: 592px;
    }
    /* .about__me :first-child, 
    .about__interests {
        max-width: 83%;
    } */

    .about__skills {
        width: 84%;
        margin-top: 2%;
        margin-left: 3%;
        height: 580px;
    }

    .about__skills-empty {
        margin-top: 8%;
    }

    .about__skills img {
        left: 40.3%;
        top: 74.5%;
        width: 66.5%;
    }
}

@media only screen and (max-width: 890px) {

    .content__conteiner {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 870px) {
    .info__title {
        max-width: 440px;
        min-width: 333px;
        height: 255px;
    }

    .info_link {
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 840px) {

    .content {
        margin: 0 5% 0;
    }

    .content__conteiner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 290px;
        margin-left: 0;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        display: block;
        right: -5%;
        bottom: 86%;
        width: 37%;
    }

    .content__conteiner 
    .content__avatar {
        display: none;
    }

    .content__avatar {
        left: auto;
        top: auto;
    }

    .content__conteiner .circle_01 {
        left: 1.5%;
        top: -5%;
        width: 54%;
    }

    .content__conteiner .circle_02 {
        top: 27%;
        width: 37%;
        left: 45%;
    }

    .info {
        width: 100%;
        max-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .info__title {
        width: 60vh;
        max-width: 500px;
    }

    .info .content__avatar {
        flex-basis: 100%;
        display: flex;
        max-width: 100%;
        justify-content: flex-end;
    }

    .content__avatar img:nth-child(2) {
        margin-top: 2%;
        max-width: 48%;
        min-height: 105%;
    }

    .info__name {
        width: 92%;
        margin: 3% 4% 0;
    }

    .general-title {
        font-size: 29px;
    }

    .info_link {
        justify-content: center;
    }

    .info__contact, .info__contact h2 {
        margin-top: 7%;
        text-align: start;
    }
    
    .about {
        margin-top: 3%;
    }

    .about br {
        display: none;
    }

    .about__interests {
        max-width: 90%;
    }

    .about__interests 
    div:nth-child(2) div {
        width: 402px;
    }

    .about__skills {
        width: 100%;
        margin: 0%;
    }

    .about__skills img {
        left: 39%;
    }
}

@media only screen and (max-width: 780px) {
    .content__conteiner {
        margin-top: 265px;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        bottom: 93%;
    }
}

@media only screen and (max-width: 730px) {
    .content__conteiner {
        margin-top: 245px;
    }

    .content__conteiner .circle_01 {
        left: -4.5%;
        top: -3%;
        width: 58%;
    }
}

@media only screen and (max-width: 700px) {

    .content__avatar {
        height: 323px;
        
    }

    .content__avatar img:nth-child(2) {
        min-width: 273px;
    }

    .about__me {
        max-width: 95%;
    }

    .about__interests {
        max-width: 100%;
    }

    .about__interests div:nth-child(2) {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 666px) {
    .content__conteiner {
        height: 526px;
    }

    .content__conteiner {
        margin-top: 260px;
    }
}

@media only screen and (max-width: 570px) {
    .content__conteiner {
        margin-top: 230px;
    }
}

@media only screen and (max-width: 540px) {

    .content__conteiner {
        margin-top: 246px;
    }

    .info__title {
        width: 100%;
    }

    .info__name h2 {
        width: 100%;
    }

    .content__avatar img:nth-child(2) {
        min-height: 107%;
        margin-top: 4%;
    }

    .about__skills-empty {
        margin-top: 11%;
    }

}

@media only screen and (max-width: 536px) {
    .general-title {
        font-size: 27px;
    }
}

@media only screen and (max-width: 519px) {

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        display: none;
    }
    
}

@media only screen and (max-width: 450px) {
    .about__skills-empty {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 437px) {
    .about__skills {
        height: 600px;
    }
}

@media only screen and (max-width: 421px) {

    .info__title {
        width: 96%;
    }

    .info__contact, 
    .info__contact h2 {
        margin-top: 8%;
    }

    .info__but button {
        width: 140px;
        height: 45px;
        font-size: 16.4px;
    }

    .about {
        margin-top: 3%;
    }

    .about__interests div:nth-child(2) {
        flex-direction: column;
    }

    .about__interests 
    div:nth-child(2) p {
        width: 460px;
        text-align: center;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 98%;
    }

    

}

@media only screen and (max-width: 388px) {
    .info__title {
        width: 100%;
        max-height: 500px;
        height: 80%;
    }

    .content__conteiner {
        margin-top: 83%;
    }
}

@media only screen and (max-width: 364px) {
    
    .info__title {
        min-width: 250px;
    }

    .about__skills {
        height: 545px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        margin-bottom: 20px;
        height: 40px;
    }

    .about__skills-name {
        bottom: 390px;
    }

    .about__skills-name .ts {
        min-width: 100px;
    }

    .about__skills-name .nodejs {
        min-width: 132px;
    }

    .about__skills-name .scss {
        min-width: 88px;
    }

    .about__skills-name span {
        font-size: 18px;
    }
}

@media only screen and (max-width: 345px) {

    .content__conteiner {
        margin-top: 86%;
    }
    
}

@media only screen and (max-width: 329px) {

    .content__conteiner {
        margin-top: 90%;
    }

    .info__but button {
        width: 130px;
    }
    
}

@media only screen and (max-width: 320px) {

    .content__conteiner {
        margin-top: 210px;
    }

    .content__conteiner 
    .circle_01 {
        left: 47%;
    }

    .content__conteiner .circle_02 {
        top: 27%;
        width: 63%;
        left: 40%;
    }

    .info__name {
        margin: 3% 3% 0;
    }

    .info__name p {
        font-size: 15px;
    }

    .info__contact p {
        font-size: 14px;
    }

    .info__but button {
        width: 132px;
    }

    .about {
        margin-top: 30%;
    }

    .about .about__me h2 {
        margin: 0;
    }

    .about__interests 
    div:nth-child(2) p {
        width: 150px;
    }

    .about__interests 
    div:nth-child(2) div {
        width: 128px;
    }

    .about__skills {
        margin-bottom: 18px;
        height: 462px;
    }

    .about__skills p {
        width: 95%;
        font-size: 15px;
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 84%;
    }

    .about__skills-name {
        bottom: 336px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        height: 31px;
    }

    .about__skills-name .ts {
        min-width: 88px;
    }

    .about__skills-name .nodejs {
        min-width: 114px;
    }

    .about__skills-name .scss {
        min-width: 76px;
    }

    .about__skills-name span {
        font-size: 15.17px;
    }

    .about__skills img {
        left: 38%;
        top: 83.5%;
    }
    

}

