button {
    font-family: 'Montserrat', sans-serif;
    color: $c-white;
    font-size: pxToRem(22.4) ;
    border: none;
    cursor: pointer;
    text-align: center;
    background: $c-MandysPink;
    border-radius: $space-xxl-small;
    width: $button-width;
    height: $button-height;
    -webkit-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
}

button:hover {
    background:$c-Pancho;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
}