// Content ---------------------------------------

.content {
    position: relative;

    .content { 
        &__conteiner {
            height: 666px;
            @include displayFlex();
            margin-top: $space-4P;
            margin-left: $space-8P;

            .circle_01 {
                position: absolute;
                left: 72%;
                top: 13.3%;
                width: 28%;
            }
            
            .circle_01 img {
                width: $standart-100P;
                position: absolute;
            }
            
            .circle_02 {
                position: absolute;
                width: 23%;
                top: 28%;
                left: 27.6%;
            }
            
            .circle_02 img {
                width: $standart-100P;
            }
            
        }
        
        &__avatar {
            position: relative;
            max-width: 555px;
            height: 610px;

            img:nth-child(1) {
                position: absolute;
                right: 44%;
                bottom: 31.5%;
                width: 100.5%;
            }
            
            img:nth-child(2) {
                max-width: $standart-100P;
                min-height: $standart-100P;
            }
            
            img {
                border-radius: $space-xxl-small;
            }
    
        }
        
    }
    
    .info {
        position: relative;
        width: 53%;
        margin: $space-5P 0 0 $space_-7P;

        .content__avatar {
            display: none;
        }
        
        .info {

            &__title {
                @include displayFlex();
                border-radius: $space-x-small;
                height: 295px;
                background-color:$c-whiteOpaciti_68;
                @include boxShadow(3px 3px 9px -2px $c-Gray);
            }
            
            &__name {
                margin-top: $space-standart;
                margin-left: $space-3P;
                width: 64%;

                h2, 
                h3,
                &__contact h2 {
                    text-align: left;
                }

                h2 {
                    width: 160%;
                }
                
                :nth-child(4) {
                margin-top: 0;
                padding-bottom: $space-xxx-small;
                }
                
            }
             
            &__link {

                a {
                    color: $c-Coffee;
                }

                img {
                    width: 70px;
                    @include transition(.3s)
                }
                
                img:hover {
                    @include hoverEffect()
                }

                @include displayFlex();
                @include flexAliginItems(end, end, flex-end);

                > div{
                        @include displayFlex();
                        @include flexAliginItems(center, center, center);

                    > a {
                        @include displayFlex();
                        @include flexAliginItems(center, center, center);
                    }

                    div {
                        width: 19vh;
                    }
    
                    a:first-child:hover {
                        @include hoverEffect()
                    }
                    
                    
                }
                
            
            }

            &__contact, 
            &__contact h2 {
                @include displayFlex();
                @include flexDirection(vertical,normal,column);
                text-align: right;
                margin-top: $space-standart;
            }
            
            &__contact p {
                margin-bottom: $space-medium;
            }
            
            &__but :first-child {
                margin-right: $space-4P;
            }
        }
    }
    
    
    
    .about {

        margin-top: $space-4P;
        @include displayFlex();
        @include flexJustifyContent(space-evenly,space-evenly,space-evenly);
        position: relative;

        h2 {
            margin: $space-6P 0 0 ;
        }

        .about {

            &__me {

                margin-left: $space-5P;

                p {
                    text-align: justify;
                }
                
                :first-child {
                    max-width: 592px;
                }
    
            }
            
           
            &__interests {
                max-width: 592px;
        
                img {
                    max-width: $standart-100P;
                    min-height: $standart-100P;
                    @include transition(.4s);
                }
        
                div {
                    &:nth-child(2) {
                        @include displayFlex();
                        @include flexAliginItems(center,center,center);
                        @include flexJustifyContent(start,start, flex-start);

                        div {
                            width: 270px;
                            height: $standart-100;
                        }
                        
                        p {
                            text-align: right;
                            font-weight: 900;
                            width: $standart-100P;
                        }
                    }
                    
                }

                ul {
                    padding-left: 0;

                    > li {
                    list-style-type: none;

                        :before {
                            content: '\2022';
                            font-size: x-large;
                            padding-right: $space-x-small;
                        }
                    }
                }
                
                img {
                    width: 185px;
                }
            
            }

            &__skills {

                margin-left: -3.5%;
                width: 760px;
                @include boxShadow(3px 3px 9px -2px $c-Gray);
                border-radius: $space-xxl-small;
                height: 685px;

                > div {
                    margin-left: $space-10P;
                }
                
                img {
                    position: absolute;
                    left: 72%;
                    top: 31.6%;
                    width: 28%;
                }

                &-empty {
                    width: 70%;
                    margin-top: $space-15P;
                    position: relative;
                    top: -30px;

                    div {
                        background-color: $c-aliceblue;
                        margin-bottom: $space-standart;
                        height: 47px;
                        border-radius: 8px;
                        width: $standart-100P;
                    }
                }
                
                &-name {
                    position: relative;
                    bottom: 433px;
                    width: 70%;

                    div {
                        background-image: url(../../../../assets//elements/_elementy_gradient_menu.png);
                        width: 39%;
                        background-repeat: no-repeat;
                        background-position: 17% 33%;
                        margin-bottom: $space-standart;
                        height: 47px;
                        border-radius: 8px;
                        background-size: 129% 273%;
                        @include flexAliginItems(center,center,center);
                        @include displayFlex();
                        @include flexJustifyContent(end,end,flex-end);
                        @include boxShadow(3px 3px 9px -2px $c-Gray);
                    }
                    
                    .php {
                        width: 20%;
                        min-width: 112px;
                    }
                    
                    .js {
                        width: 60%;
                    }
                    
                    .html {
                        width: 81%;
                    }
                    
                    .nodejs {
                        width: 18%;
                        min-width: 147px;
                    }
                    
                    .css {
                        width: 85%;
                    }
                    
                    .go {
                        width: 25%;
                        min-width: 95px;
                    }
                    
                    span {
                        margin-right: $space-x-small;
                        font-size: pxToRem(20.17); 
                        color: $c-white;
                    }
                   
                }
                
            }
            
        }

        #easy_code:hover {
            @include hoverEffect();
        }

    }
    
    .circle_03 {
        position: absolute;
        img {
            width: 42%;
            position: absolute;
            right: 92%;
            top: 77%;
        }
    }
}




// Content ---------------------------------------


// ContentMedia ----------------------------------
 

@media only screen and (max-width: 1600px) {
    .about__skills {
        margin-left: 0;
    }
}

@media only screen and (max-width: $break-laptop) {

    .content__conteiner {
        margin-top: 0;
    }

    .info {
        width: 60%;
        margin-top: $space-8P;
    }

    .info__title {
        height: 260px;
    }

    .general-title {
        font-size: pxToRem(31);
    }

    .content__avatar {
        top: 66px;
        left: 42px;
        max-width: 487px;
        height: 537px;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 440px;
    }

    .about__skills {
        width: 46%;
        height: 710px;
        margin-left: -3.5%;
    }

    .about__skills-name div,
    .about__skills-empty div {
        margin-bottom: $space-medium32;
    }

    .about__skills-name {
        bottom: 504px;
    }


}

@media only screen and (max-width: 1224px) {

    body {
        font-size: pxToRem(18);
    }

    .content__conteiner {
        margin-top: 0;
        height: 566px;
    }

    .content__conteiner 
    .circle_02 {
        width: 27.5%;
        top: 29%;
        left: 32.8%;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        right: 44%;
        bottom: 36.5%;
        width: 94.5%;
    }

    .content__avatar {
        top: 60px;
        left: -13px;
        max-width: 424px;
        height: 463px;
    }

    .info {
        margin-top: $space-12P;
        width: 60%;
    }

    .info__title {
        height: 212px;
    }

    .info__name {
        margin-top: $space-x-small;
    }

    .info__name h2 {
        width: 164%;
    }

    .info_link > div div {
        padding-right: 0;
        width: 128px;
    }

    .info_link > div > a img {
        width: 49px;
    }

    .info__but button {
        width: 170px;
        height: 52px;
    }

    button {
        font-size: pxToRem(18.4);
    }

    .about__me {
        margin-left: $space-4P;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 334px;
    }

    .about__interests img {
        width: 176px;
    }

    .about__skills {
        height: 600px;
    }

    .about__skills p {
        width: 93%;
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 80%;
    }

    .about__skills-empty div,
    .about__skills-name div {
        margin-bottom: $space-standart-24;
        height: 43px;
    }

    .about__skills-name {
        bottom: 433px;
    }
       

}

@media only screen and (max-width: $break-laptop-1024) {

    .content {
        margin: 0 $space-2P 0;
    }

    .info {
        margin-top: 4%;
        margin-left: 0;
        width: 84%;
    }

    .content__avatar {
        display: none;
    }

    .content__conteiner { 
        @include flexDirection(vertical,vertical,column-reverse);
        margin-left: 0;
        @include flexJustifyContent(center,center,center);
        @include flexAliginItems(center,center,center);
        height: auto;
    }
    .content__conteiner .circle_02 {
        width: 27.5%;
        top: 41%;
        left: 0.8%;
    }

    .info .content__avatar {
        @include displayFlex();
        left: auto;
        top: auto;
        margin: 0 auto;
        margin-top: $space-2P;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        display: none;
    }

}

@media only screen and (max-width: 990px) {


    .about {
        @include displayFlex();
        @include flexDirection(vertical,normal,column);
        margin-top: $space_-12P;
    }

    .about__me  {
        max-width: 95%;
    }

    .about__me :first-child, .about__interests {
        max-width: 770px;
    }

    .about__skills {
        width: 84%;
        margin-top: $space-4P;
        margin-left: $space-3P;
        height: 580px;
    }

    .about__skills-empty {
        margin-top: $space-8P;
    }

    .about__skills img {
        left: 49%;
        top: 63.5%;
        width: 52.5%;
    }
}


@media only screen and (max-width: $break-tablet) {

    .content__conteiner .circle_01 {
        left: 60%;
        top: 4.3%;
        width: 41%;
    }

    .content__conteiner .circle_02 {
        width: 35.5%;
        top: 31%;
    }

    .about {
        margin-top: $space-3P;
    }

    .info_link {
        @include flexJustifyContent(end,end,flex-end);
        @include flexAliginItems(center,center,center);
    }

    .info__title {
        @include flexDirection(vertical,normal,column);
        height: auto;
    }

    .info__name {
        width: 97%;
    }

    .info__name h2 {
        width: $standart-100P;
    }

    .about__skills {
        width: 95%;
        
    }

    .about__skills img {
        left: 35.5%;
        top: 61.5%;
        width: 66.5%;
    }

}

@media only screen and (max-width: $break-530) {

    .info {
        margin-top: 8%;
    }

    .info .content__avatar {
        max-width: 90%;
        height: 440px;
    }


}

@media only screen and (max-width: 470px) {
    
    .info .content__avatar {
        
        height: 400px;
    }


}

@media only screen and (max-width: $break-450) {
    .about__skills-empty {
        margin-top: $space-15P;
    }

    .info .content__avatar {
        height: auto;
    }

    .info__but {
        @include displayFlex();
    }

}

@media only screen and (max-width: 437px) {
    .about__skills {
        height: 600px;
    }
}

@media only screen and (max-width: 421px) {

    .info__name p {
        display: none;
    }

    .about {
        margin-top: $space-3P;
    }

    .about__interests div:nth-child(2) {
        @include flexDirection(vertical,normal,column);
    }

    .about__interests 
    div:nth-child(2) p {
        width: 460px;
        text-align: center;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 98%;
    }

}

@media only screen and (max-width: 364px) {

    .info__title {
        padding: 0 $space-3P 0;
    }

    .general-title {
        font-size: pxToRem(25);
    }

    .about__skills {
        height: 545px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        margin-bottom: $space-standart;
        height: 40px;
    }

    .about__skills-name {
        bottom: 390px;
    }

    .about__skills-name .php {
        min-width: $standart-100;
    }

    .about__skills-name .nodejs {
        min-width: 132px;
    }

    .about__skills-name .go {
        min-width: 88px;
    }

    .about__skills-name span {
        font-size: pxToRem(18);
    }
}

@media only screen and (max-width: $break-320) {


    .about {
        margin-top: $space-30P;
    }

    .about .about__me h2 {
        margin: 0;
    }

    .about__interests 
    div:nth-child(2) p {
        width: 150px;
    }

    .about__interests 
    div:nth-child(2) div {
        width: 128px;
    }

    .about__skills {
        margin-bottom: $space-standart;
        height: 462px;
    }

    .about__skills p {
        width: 95%;
        font-size: pxToRem(15);
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 84%;
    }

    .about__skills-name {
        bottom: 336px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        height: 31px;
    }

    .about__skills-name .php {
        min-width: 88px;
    }

    .about__skills-name .nodejs {
        min-width: 114px;
    }

    .about__skills-name .go {
        min-width: 76px;
    }

    .about__skills-name span {
        font-size: pxToRem(15.17);
    }

    .about__skills img {
        left: 35%;
        top: 75.5%;
    }
}

// ContentMedia ----------------------------------