// Nav -------------------------------------------

hr {
    background-color: $c-white;
    height: 55px; 
    width: 2px;
    border-width: 0;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow:2px 0 16px 2px $c-SilverChalice;
            box-shadow:2px 0 16px 2px $c-SilverChalice;
    width: $standart-100P;
    height: 140px;
    background-color: $c-Alto;
}

.label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.label h1 {
    color: $c-Silver;
    font-size: pxToRem(100);
    font-weight: normal;
    font-family: 'Monoton', cursive;
    margin: 0;
}

#label__img {
    display: none;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border-radius: $space-x-small;
    -webkit-box-shadow: 6px 6px 9px -2px $c-DustyGrayOpaciti_85;
            box-shadow: 6px 6px 9px -2px $c-DustyGrayOpaciti_85;
    width: 52%;
    height: 80px;
    background: url(../../../../assets//elements/_elementy_gradient_menu.png) center / auto 560% no-repeat ;
}

.nav div, .nav div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav > div > a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: pxToRem(21);
    color: white;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    cursor: pointer;
}

.nav > div > a:after {
    content: '';
    display: block;
    width: $standart-100P;
    height: 3px;
    border-radius: $standart-100;

    background-color: $c-HummingBird;
    opacity: 0;

    position: absolute;
    top: 106%;
    left: 0;
    z-index: 1;

    -webkit-transition: opacity .2s linear;

    -o-transition: opacity .2s linear;

    transition: opacity .2s linear;
}

.nav > div > a:hover:after {
    opacity: 1;
}

.nav__img {
    margin-left: $space-1P;
}

.nav__img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: $standart-100P;
    margin-top: $space-xxx-small;
    width: $space-x-large;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav__img img:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
}


// Nav -------------------------------------------

// NavMedia --------------------------------------


@media only screen and (max-width: $break-laptop) {

    .nav {
        width: 65%;
        height: 80px;
    }

    .label h1 {
        font-size: pxToRem(75);
    }

    .nav > div > a {
        font-size: pxToRem(20);
    }

    hr {
        height: 49px;
    }

}

@media only screen and (max-width: 1100px) {

    .nav {
        width: 78%;
    }
}

@media only screen and (max-width: 1000px) {

    .label h1 {
        font-size: pxToRem(65);
    }

    .nav {
        height: 70px;
    }

    .nav > div > a {
        font-size: pxToRem(18);
    }
}

@media only screen and (max-width: $break800) {

    .nav {
        width: 83%;
    }

    .nav__img img {
        margin-top: 0;
    }

    .label h1 {
        font-size: pxToRem(52);
    }
}

@media only screen and (max-width: $break-tablet) {

    hr {
        height: 46px;
    }

}

@media only screen and (max-width: $break-tablet) {

    nav {
        display: block;
        -webkit-box-shadow: none;
                box-shadow: none;
        width: $standart-100P;
        height: $standart-120;
    }

    .label {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .nav {
        width: $standart-100P;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        -webkit-box-shadow: 0 6px 9px -2px $c-DustyGrayOpaciti_85;
                box-shadow: 0 6px 9px -2px $c-DustyGrayOpaciti_85;
    }

    .nav > div > a {
        font-size: pxToRem(22);
    }

    #nav__img {
        display: none;
    }

    #hr {
        display: none;   
    }

    #label__img {
        margin-bottom: $space_-1P;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (max-width: 520px) {

    .nav > div > a {
        font-size: pxToRem(20);
    }

}

@media only screen and (max-width: $break-530) {

    .nav {
        height: 85px;
    }

    .nav > div > a {
        font-size: pxToRem(27);
    }

}

@media only screen and (max-width: 475px) {

    .nav > div > a {
        font-size: pxToRem(24);
    }
}

@media only screen and (max-width: $break-450) {

    .nav {
        height: 85px;
    }

    .nav > div > a {
        margin: 0 $space-xxl-small;
    }

}

@media only screen and (max-width: 400px) {

    nav {
        height: $standart-120;
    }

    .label {
        margin-left: $space-5P;
    }

    .label h1 {
        font-size: pxToRem(47);
        
    }

    .nav {
        height: 80px;
    }

}

@media only screen and (max-width: 350px) {
    .nav > div > a {
        margin-left: $space-xxl-small;
        font-size: pxToRem(23);
    }
}


// NavMedia --------------------------------------