// MyWorks ---------------------------------------


.my-works {
    position: relative;
    padding-left: $space-11P;
}

.my-works h2, .my-works h3 {
    margin: 0;
}

.my-works > div:first-of-type {
    max-width: 720px;
}

.my-works .circle_01 {
    position: absolute;
    top: 34%;
    left: 60%;
    margin-left: 0;
    width: 35%;
}

.my-works .circle_01 img {
    position: absolute;
    width: $standart-100P;
}

.my-works__portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1600px;
}

.portfolio-block {
    position: relative;
    width: 470px;
    max-height: 355px;
    -webkit-box-shadow: 3px 3px 9px -2px $c-Gray;
            box-shadow: 3px 3px 9px -2px $c-Gray;
    border-radius: $space-xxl-small;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 $space-medium-38 $space-medium-55 0;
    background: $c-white;
}

.portfolio-effect {
    display: none;
    background-color: $c-MandysPinkOpacity70;
    position: absolute;
    width: $standart-100P;
    height: $standart-100P;
    color: $c-white;
    font-size: pxToRem(26.3);
    font-family: 'Raleway Medium';
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.portfolio-effect h2 {
    font-size: pxToRem(38.5);
}

.portfolio-effect__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: $space-8P;
}

.portfolio-effect__title, 
.portfolio-effect__tools {
    width: 80%;
}

.portfolio-effect__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.portfolio-effect__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: $space-12P;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: $standart-100P;
}

.portfolio-block:hover .portfolio-effect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.portfolio-block__content div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: $space-4P;
}

.portfolio-block__content div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.my-works__portfolio a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.my-works__portfolio img {
    width: 93%;
}

.my-works__portfolio a img {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}

.my-works__portfolio a img:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
}

.portfolio-button {
    display: none;
}


// MyWorks ---------------------------------------


// MyWorksMedia ----------------------------------


@media only screen and (max-width: 1154px) {

    .my-works__portfolio 
    .portfolio-block {
        width: 400px;
    }
}

@media only screen and (max-width: $break-laptop-1024) {

.my-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3%;
}

.my-works > div:first-of-type {
    max-width: 828px;
}

.my-works__portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.portfolio-block {
    margin: $space-xl-small;
}

}

@media only screen and (max-width: $break-mid) {

.my-works__portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.my-works__portfolio .portfolio-block:nth-child(3),
.my-works__portfolio .portfolio-block:nth-child(4),
.my-works__portfolio .portfolio-block:nth-child(5) {
    display: none;
}

.my-works__portfolio .portfolio-block {
    width: 460px;
}

.portfolio-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.portfolio-button button {
    height: 40px;
    margin-bottom: $space-4P;
}
}

@media only screen and (max-width: $break-500) {

.my-works .circle_01 {
    top: 19%;
    left: 5%;
}

.my-works__portfolio {
    padding: 0 $space-2P;
}

.my-works__portfolio .portfolio-block {
    width: auto;
}

}


// MyWorksMedia ----------------------------------