
body {
    max-width: 1920px;
    width: $standart-100P;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: $c-Coffee;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: $c-white;
    font-size: 22.4px ;
    border: none;
    cursor: pointer;
    text-align: center;
    background: $c-MandysPink;
    border-radius: $space-xxl-small
}

button:hover {
    background:$c-Pancho;
    transition: .15s;
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}


// Nav -------------------------------------------

hr {
    background-color: $c-white;
    height: 55px; 
    width: 2px;
    border-width: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:2px 0 16px 2px $c-SilverChalice;
    width: $standart-100P;
    height: 140px;
    background-color: $c-Alto;
}

.label {
    display: flex;
    align-items: center;
}

.label h1 {
    color: $c-Silver;
    font-size: 100px;
    font-weight: normal;
    font-family: 'Monoton', cursive;
    margin: 0;
}

#label__img {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: $space-x-small;
    box-shadow: 6px 6px 9px -2px $c-DustyGrayOpaciti_85;
    width: 52%;
    height: 80px;
    background: url(../../../../assets//elements/_elementy_gradient_menu.png) center / auto 560% no-repeat ;
}

.nav div, .nav div > a {
    display: flex;
    align-items: center;
}

.nav > div > a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: white;
    transition: opacity .3s linear;
    cursor: pointer;
}

.nav > div > a:after {
    content: '';
    display: block;
    width: $standart-100P;
    height: 3px;
    border-radius: $standart-100;

    background-color: $c-HummingBird;
    opacity: 0;

    position: absolute;
    top: 106%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav > div > a:hover:after {
    opacity: 1;
}

.nav__img {
    margin-left: $space-1P;
}

.nav__img img {
    display: flex;
    width: $standart-100P;
    margin-top: $space-xxx-small;
    width: $space-x-large;
    transition: .3s;
}

.nav__img img:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: linear;
    transition-duration: 0.15s;
}


// Nav -------------------------------------------

// NavMedia --------------------------------------


@media only screen and (max-width: $break-laptop) {

    .nav {
        width: 65%;
        height: 80px;
    }

    .label h1 {
        font-size: 75px;
    }

    .nav > div > a {
        font-size: 20px;
    }

    hr {
        height: 49px;
    }

}

@media only screen and (max-width: 1100px) {

    .nav {
        width: 78%;
    }
}

@media only screen and (max-width: 1000px) {

    .label h1 {
        font-size: 65px;
    }

    .nav {
        height: 70px;
    }

    .nav > div > a {
        font-size: 18px;
    }
}

@media only screen and (max-width: $break800) {

    .nav {
        width: 83%;
    }

    .nav__img img {
        margin-top: 0;
    }

    .label h1 {
        font-size: 52px;
    }
}

@media only screen and (max-width: $break-tablet) {

    hr {
        height: 46px;
    }

}

@media only screen and (max-width: $break-tablet) {

    nav {
        display: block;
        box-shadow: none;
        width: $standart-100P;
        height: $standart-120;
    }

    .label {
        justify-content: space-evenly;
    }

    .nav {
        width: $standart-100P;
        flex-wrap: wrap-reverse;
        box-shadow: 0 6px 9px -2px $c-DustyGrayOpaciti_85;
    }

    .nav > div > a {
        font-size: 22px;
    }

    #nav__img {
        display: none;
    }

    #hr {
        display: none;   
    }

    #label__img {
        margin-bottom: $space_-1P;
        display: flex;
    }
}

@media only screen and (max-width: 520px) {

    .nav > div > a {
        font-size: 20px;
    }

}

@media only screen and (max-width: $break-530) {

    .nav {
        height: 85px;
    }

    .nav > div > a {
        font-size: 27px;
    }

}

@media only screen and (max-width: 475px) {

    .nav > div > a {
        font-size: 24px;
    }
}

@media only screen and (max-width: $break-450) {

    .nav {
        height: 85px;
    }

    .nav > div > a {
        margin: 0 $space-xxl-small;
    }

}

@media only screen and (max-width: 400px) {

    nav {
        height: $standart-120;
    }

    .label {
        margin-left: $space-5P;
    }

    .label h1 {
        font-size: 47px;
        
    }

    .nav {
        height: 80px;
    }

}

@media only screen and (max-width: 350px) {
    .nav > div > a {
        margin-left: $space-xxl-small;
        font-size: 23px;
    }
}


// NavMedia --------------------------------------


// Content ---------------------------------------


.content {
    position: relative;
}

.content__conteiner {
    height: 666px;
    display: flex;
    margin-top: $space-4P;
    margin-left: $space-8P;
}

.content__conteiner 
.circle_01 {
    position: absolute;
    left: 72%;
    top: 13.3%;
    width: 28%;
}

.content__conteiner
.circle_01 img {
    width: $standart-100P;
    position: absolute;
}

.content__conteiner
.circle_02 {
    position: absolute;
    width: 23%;
    top: 28%;
    left: 27.6%;
}

.content__conteiner
.circle_02 img {
    width: $standart-100P;
}

.content__avatar {
    position: relative;
    max-width: 555px;
    height: 610px;
}

.content__conteiner 
.content__avatar 
img:nth-child(1) {
    position: absolute;
    right: 44%;
    bottom: 31.5%;
    width: 100.5%;
}

.content__avatar img:nth-child(2) {
    max-width: $standart-100P;
    min-height: $standart-100P;
}

.content__avatar img {
    border-radius: $space-xxl-small;
}

.info {
    position: relative;
    width: 53%;
    margin: $space-5P 0 0 $space_-7P;
}

.info__title {
    display: flex;
    border-radius: $space-x-small;
    height: 295px;
    background-color:$c-whiteOpaciti_68;
    box-shadow: 3px 3px 9px -2px $c-Gray;
}

.info .content__avatar {
    display: none;
}

.info__name {
    margin-top: $space-standart;
    margin-left: $space-3P;
    width: 64%;
}

.info__name h2, 
.info__name h3,
.info__contact h2 {
    text-align: left;
    margin: 0;
}

.general-title {
    font-family: 'Raleway Medium';
    font-weight: normal;
    font-size: 38px;
}

.general-title--black {
    color: $c-black;
}

.general-title--beige {
    color: $c-Calico;
}

.info__name h2 {
    width: 160%;
}

.info__name :nth-child(4) {
   margin-top: 0;
   padding-bottom: $space-xxx-small;
}

.info_link {
    display: flex;
    align-items: flex-end;
}

.info_link > div, 
.info_link > div > a {
    display: flex;
    align-items: center;
}

.info_link > div div {
    width: 19vh;
}

.info_link a {
    color: $c-Coffee;
}

.info_link > 
div a:first-child:hover {
    font-weight: bold;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

.info_link img {
    width: 70px;
    transition: .3s;
}

.info_link img:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: linear;
    transition-duration: 0.15s;
}

.info__contact, 
.info__contact h2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: $space-standart;
}

.info__contact p {
    margin-bottom: $space-medium;
}

.info__but button {
    width: 197px;
    height: 67px;
    box-shadow: 4px 4px 7px -1px $c-DustyGrayOpaciti_66;
}

.info__but :first-child {
    margin-right: $space-4P;
}

.about {
    margin-top: $space-4P;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.about__me {
    margin-left: $space-5P;
}

.about .about__me h2,
.about__skills h2 {
    margin: $space-6P 0 0 ;
}

.about__me h3 {
    margin: 0;
}

.about__me p {
    text-align: justify;
}

.about__me :first-child,
.about__interests {
    max-width: 592px;
}

.about__interests img {
    max-width: $standart-100P;
    min-height: $standart-100P;
    transition: 0.3s;
}

#easy_code:hover {
    transform: scale(1.14, 1.14);
    transition-timing-function: ease-out;
    transition: all 0.3s ease-out;
}

.about__interests div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about__interests div:nth-child(2) div {
    width: 270px;
    height: $standart-100;
}

.about__interests div:nth-child(2) p {
    text-align: right;
    font-weight: 900;
    width: $standart-100P;
}

.about__interests ul {
    padding-left: 0;
}

.about__interests ul > li {
    list-style-type: none;
}

.about__interests ul > li:before {
    content: '\2022';
    font-size: x-large;
    padding-right: $space-x-small;
}

.about__interests img {
    width: 185px;
  }

.about__skills {
    margin-left: -3.5%;
    width: 760px;
    box-shadow: 3px 3px 9px -2px $c-Gray;
    border-radius: $space-xxl-small;
    height: 685px;
}

.about__skills > div {
    margin-left: $space-10P;
}

.about__skills img {
    position: absolute;
    left: 72%;
    top: 31.6%;
    width: 28%;
}

.about__skills-empty {
    width: 70%;
    margin-top: $space-15P;
    position: relative;
    top: -30px;
}

.about__skills-empty div {
    background-color: $c-aliceblue;
    margin-bottom: $space-standart;
    height: 47px;
    border-radius: 8px;
    width: $standart-100P;
}

.about__skills-name {
    position: relative;
    bottom: 433px;
    width: 70%;
   
}

.about__skills-name div {
    background-image: url(../../../../assets//elements/_elementy_gradient_menu.png);
    width: 39%;
    background-repeat: no-repeat;
    background-position: 17% 33%;
    margin-bottom: $space-standart;
    height: 47px;
    border-radius: 8px;
    background-size: 129% 273%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    box-shadow: 3px 3px 9px -2px $c-Gray;
}

.about__skills-name .php {
    width: 20%;
    min-width: 112px;
}

.about__skills-name .js {
    width: 60%;
}

.about__skills-name .html {
    width: 81%;
}

.about__skills-name .nodejs {
    width: 18%;
    min-width: 147px;
}

.about__skills-name .css {
    width: 85%;
}

.about__skills-name .go {
    width: 25%;
    min-width: 95px;
}


.about__skills-name span {
    margin-right: $space-x-small;
    font-size: 20.17px; 
    color: $c-white;
}

.about .circle_03 {
    position: absolute;
}

.about .circle_03 img {
    width: 42%;
    position: absolute;
    right: 92%;
    top: 77%;
}


// Content ---------------------------------------


// ContentMedia ----------------------------------
 

@media only screen and (max-width: 1600px) {
    .about__skills {
        margin-left: 0;
    }
}

@media only screen and (max-width: $break-laptop) {

    .content__conteiner {
        margin-top: 0;
    }

    .info {
        width: 60%;
        margin-top: $space-8P;
    }

    .info__title {
        height: 260px;
    }

    .general-title {
        font-size: 31px;
    }

    .content__avatar {
        top: 66px;
        left: 42px;
        max-width: 487px;
        height: 537px;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 440px;
    }

    .about__skills {
        width: 46%;
        height: 710px;
        margin-left: -3.5%;
    }

    .about__skills-name div,
    .about__skills-empty div {
        margin-bottom: $space-medium32;
    }

    .about__skills-name {
        bottom: 504px;
    }


}

@media only screen and (max-width: 1224px) {

    body {
        font-size: 18px;
    }

    .content__conteiner {
        margin-top: 0;
        height: 566px;
    }

    .content__conteiner 
    .circle_02 {
        width: 27.5%;
        top: 29%;
        left: 32.8%;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        right: 44%;
        bottom: 36.5%;
        width: 94.5%;
    }

    .content__avatar {
        top: 60px;
        left: -13px;
        max-width: 424px;
        height: 463px;
    }

    .info {
        margin-top: $space-12P;
        width: 60%;
    }

    .info__title {
        height: 212px;
    }

    .info__name {
        margin-top: $space-x-small;
    }

    .info__name h2 {
        width: 164%;
    }

    .info_link > div div {
        padding-right: 0;
        width: 128px;
    }

    .info_link > div > a img {
        width: 49px;
    }

    .info__but button {
        width: 170px;
        height: 52px;
    }

    button {
        font-size: 18.4px;
    }

    .about__me {
        margin-left: $space-4P;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 334px;
    }

    .about__interests img {
        width: 176px;
    }

    .about__skills {
        height: 600px;
    }

    .about__skills p {
        width: 93%;
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 80%;
    }

    .about__skills-empty div,
    .about__skills-name div {
        margin-bottom: $space-standart-24;
        height: 43px;
    }

    .about__skills-name {
        bottom: 433px;
    }
       

}

@media only screen and (max-width: $break-laptop-1024) {

    .content {
        margin: 0 $space-2P 0;
    }

    .info {
        margin-top: 4%;
        margin-left: 0;
        width: 84%;
    }

    .content__avatar {
        display: none;
    }

    .content__conteiner { 
        flex-direction: column-reverse;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .content__conteiner .circle_02 {
        width: 27.5%;
        top: 41%;
        left: 0.8%;
    }

    .info .content__avatar {
        display: flex;
        left: auto;
        top: auto;
        margin: 0 auto;
        margin-top: $space-2P;
    }

    .content__conteiner 
    .content__avatar img:nth-child(1) {
        display: none;
    }

}

@media only screen and (max-width: 990px) {


    .about {
        display: flex;
        flex-direction: column;
        margin-top: $space_-12P;
    }

    .about__me  {
        max-width: 95%;
    }

    .about__me :first-child, .about__interests {
        max-width: 770px;
    }

    .about__skills {
        width: 84%;
        margin-top: $space-4P;
        margin-left: $space-3P;
        height: 580px;
    }

    .about__skills-empty {
        margin-top: $space-8P;
    }

    .about__skills img {
        left: 49%;
        top: 63.5%;
        width: 52.5%;
    }
}


@media only screen and (max-width: $break-tablet) {

    .content__conteiner .circle_01 {
        left: 60%;
        top: 4.3%;
        width: 41%;
    }

    .content__conteiner .circle_02 {
        width: 35.5%;
        top: 31%;
    }

    .about {
        margin-top: $space-3P;
    }

    .info_link {
        justify-content: flex-end;
        align-items: center;
    }

    .info__title {
        flex-direction: column;
        height: auto;
    }

    .info__name {
        width: 97%;
    }

    .info__name h2 {
        width: $standart-100P;
    }

    .about__skills {
        width: 95%;
        
    }

    .about__skills img {
        left: 35.5%;
        top: 61.5%;
        width: 66.5%;
    }

}

@media only screen and (max-width: $break-530) {

    .info {
        margin-top: 8%;
    }

    .info .content__avatar {
        max-width: 90%;
        height: 440px;
    }


}

@media only screen and (max-width: 470px) {
    
    .info .content__avatar {
        
        height: 400px;
    }


}

@media only screen and (max-width: $break-450) {
    .about__skills-empty {
        margin-top: $space-15P;
    }

    .info .content__avatar {
        height: auto;
    }

    .info__but {
        display: flex;
    }

}

@media only screen and (max-width: 437px) {
    .about__skills {
        height: 600px;
    }
}

@media only screen and (max-width: 421px) {

    .info__name p {
        display: none;
    }

    .about {
        margin-top: $space-3P;
    }

    .about__interests div:nth-child(2) {
        flex-direction: column;
    }

    .about__interests 
    div:nth-child(2) p {
        width: 460px;
        text-align: center;
    }

    .about__me :first-child, 
    .about__interests {
        max-width: 98%;
    }

}

@media only screen and (max-width: 364px) {

    .info__title {
        padding: 0 $space-3P 0;
    }

    .general-title {
        font-size: 25px;
    }

    .about__skills {
        height: 545px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        margin-bottom: $space-standart;
        height: 40px;
    }

    .about__skills-name {
        bottom: 390px;
    }

    .about__skills-name .php {
        min-width: $standart-100;
    }

    .about__skills-name .nodejs {
        min-width: 132px;
    }

    .about__skills-name .go {
        min-width: 88px;
    }

    .about__skills-name span {
        font-size: 18px;
    }
}

@media only screen and (max-width: $break-320) {


    .about {
        margin-top: $space-30P;
    }

    .about .about__me h2 {
        margin: 0;
    }

    .about__interests 
    div:nth-child(2) p {
        width: 150px;
    }

    .about__interests 
    div:nth-child(2) div {
        width: 128px;
    }

    .about__skills {
        margin-bottom: $space-standart;
        height: 462px;
    }

    .about__skills p {
        width: 95%;
        font-size: 15px;
    }

    .about__skills-empty, 
    .about__skills-name {
        width: 84%;
    }

    .about__skills-name {
        bottom: 336px;
    }

    .about__skills-empty div, 
    .about__skills-name div {
        height: 31px;
    }

    .about__skills-name .php {
        min-width: 88px;
    }

    .about__skills-name .nodejs {
        min-width: 114px;
    }

    .about__skills-name .go {
        min-width: 76px;
    }

    .about__skills-name span {
        font-size: 15.17px;
    }

    .about__skills img {
        left: 35%;
        top: 75.5%;
    }
    

}

// ContentMedia ----------------------------------



// Tools -----------------------------------------


.tools {
    position: relative;
    min-height: 345px;
    background-image: url(../../../../assets/elements/tło_gradient.png);
}

.tools h2,
.tools h3, 
.tools__block {
    margin: 0 0 0 $space-12P;
}

.tools__block {
    position: relative;
    padding-top: $space-xl-small;
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tools h2 {
    padding-top: $space-medium-38;
}

.tools__block > div {
    background-color: $c-white;
    font-size: 13px;
    text-align: center;
    width: $standart-120;
    height: $standart-120;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: $space-x-small;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 50%;
    border-radius: 6px;
    box-shadow: 3px 3px 9px -2px $c-Gray;
}

.tools .circle_01 {
    position: absolute;
    width: 29%;
    left: 70%;
    top: 17%;
}

// Tools -----------------------------------------


// ToolsMedia ------------------------------------


@media only screen and (max-width: 1220px) {

    .tools {
        min-height: $break-450;
    }

    .tools__block {
        width: 70%;
        max-width: 1000px;
    }

    .tools__block > div {
        margin-right: $space-6P;
        margin-bottom: $space-4P;
    }
}

@media only screen and (max-width: $break-mid) {

    .tools__block {
        width: 80%;
    }

    .tools h2, .tools h3, .tools__block {
        margin: 0 0 0 $space-8P;
    }
    
}

@media only screen and (max-width: $break800) {

    .tools__block {
        width: 90%;
    }

    .tools h2, .tools h3, .tools__block {
        margin: 0 0 0 $space-6P;
    }
    
}

@media only screen and (max-width: $break-tablet) {

    .tools__block {
        width: 78%;
    }

    .tools__block > div {
        margin-right: $space-4P;
    }

    .tools .circle_01 {
        left: 42%;
        top: 0%;
        width: 57%;
    }

}

@media only screen and (max-width: 524px) {

    .tools h2, .tools h3, .tools__block {
        margin: 0 $space-10P 0;
    }

}

@media only screen and (max-width: $break-425) {

    .tools .circle_01 {
        top: 4%;
    }

    .tools__block > div {
        background-size: 62%;
    }

}

@media only screen and (max-width: 335px) {

    .tools__block > div {
        width: 110px;
        height: 110px;
        background-size: 62%;
    }
}


// ToolsMedia ------------------------------------





// MyWorks ---------------------------------------


.my-works {
    position: relative;
    padding-left: $space-11P;
}

.my-works h2, .my-works h3 {
    margin: 0;
}

// .my-works > div {
//     margin-left: $space-12P;
    
// }

.my-works > div:first-of-type {
    max-width: 720px;
}

.my-works .circle_01 {
    position: absolute;
    top: 34%;
    left: 60%;
    margin-left: 0;
    width: 35%;
}

.my-works .circle_01 img {
    position: absolute;
    width: $standart-100P;
}

.my-works__portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
}

.portfolio-block {
    position: relative;
    width: 470px;
    max-height: 355px;
    box-shadow: 3px 3px 9px -2px $c-Gray;
    border-radius: $space-xxl-small;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 $space-medium-38 $space-medium-55 0;
    background: $c-white;
}

.portfolio-effect {
    display: none;
    background-color: $c-MandysPinkOpacity70;
    position: absolute;
    width: $standart-100P;
    height: $standart-100P;
    color: $c-white;
    font-size: 26.3px;
    font-family: 'Raleway Medium';
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.portfolio-effect h2 {
    font-size: 38.5px;
}

.portfolio-effect__title {
    flex-direction: column;
    display: flex;
    margin-bottom: $space-8P;
}

.portfolio-effect__title, 
.portfolio-effect__tools {
    width: 80%;
}

.portfolio-effect__tools {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.portfolio-effect__button {
    display: flex;
    margin-top: $space-12P;
    align-items: end;
    flex-direction: row;
    justify-content: flex-end;
    width: $standart-100P;
}

.portfolio-block:hover .portfolio-effect {
    display: flex;
}


.portfolio-block__content div:nth-child(1) {
    display: flex;
    justify-content: center;
    padding-top: $space-4P;
}

.portfolio-block__content div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.my-works__portfolio a {
    display: flex;
    align-items: center;
}

.my-works__portfolio img {
    width: 93%;
}

.my-works__portfolio a img {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    transition: .7s;
}

.my-works__portfolio a img:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: linear;
    transition-duration: .15s;
}

.portfolio-button {
    display: none;
}


// MyWorks ---------------------------------------


// MyWorksMedia ----------------------------------


@media only screen and (max-width: 1154px) {

        .my-works__portfolio 
        .portfolio-block {
            width: 400px;
        }
}

@media only screen and (max-width: $break-laptop-1024) {

    .my-works {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3%;
    }

    .my-works > div:first-of-type {
        max-width: 828px;
    }

    .my-works__portfolio {
        justify-content: center;
    }

    .portfolio-block {
        margin: $space-xl-small;
    }

}

@media only screen and (max-width: $break-mid) {

    .my-works__portfolio {
        flex-direction: column;
    }

    .my-works__portfolio .portfolio-block:nth-child(3),
    .my-works__portfolio .portfolio-block:nth-child(4),
    .my-works__portfolio .portfolio-block:nth-child(5) {
        display: none;
    }

    .my-works__portfolio .portfolio-block {
        width: 460px;
    }

    .portfolio-button {
        display: flex;
        justify-content: center;
    }

    .portfolio-button button {
        height: 40px;
        margin-bottom: $space-4P;
    }
}

@media only screen and (max-width: $break-500) {

    .my-works .circle_01 {
        top: 19%;
        left: 5%;
    }

    .my-works__portfolio {
        padding: 0 $space-2P;
    }

    .my-works__portfolio .portfolio-block {
        width: auto;
    }

}


// MyWorksMedia ----------------------------------


// BlogPost --------------------------------------


.blog_posts h2, 
.blog_posts h3 {
    margin: 0;
}
.blog_posts {
    position: relative;
    margin-left: $space-12P;
    max-width: 1488px;
}

.blog_posts .title img {
    width: 470px;
    max-height: 200px;
    margin-right: 50px;
    box-shadow:3px 3px 9px -2px $c-Gray;
    border-radius: $space-xxl-small;
}

.blog_posts_circle_01 {
    width: 32%;
    position: absolute;
    top: 26%;
    left: -22%;
}

.blog_posts_circle_03 {
    width: 38%;
    position: absolute;
    top: 71%;
    right: 12%;
}

.title { 
    position: relative;
    display: flex;
}

#title__avatar-1 {
    display: none;
}

.title > div > div {
    display: flex;
    justify-content: space-between;
}

.title > div > div:nth-child(3) {
    max-width: 97%;
}


.title >  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    max-width: 1226px;
}

.title > div > div:nth-child(5) {
    justify-content: center;
    
}

.title a {
    color: $c-Calico;
}

.title a:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: linear;
    transition-duration: 0.15s;
}



// BlogPost --------------------------------------


// BlogPostMedia ---------------------------------


@media only screen and (max-width: $break-laptop) {
    .blog_posts {
        max-width: 1200px;
        padding-right: $space-2P;
    }

    .blog_posts .title img {
        width: 426px;
    }
}

@media only screen and (max-width: $break-laptop-1024) {

    .blog_posts {
        max-width: 900px;
        margin-left: $space-10P;
        margin-right: $space-2P;
    }

    .blog_posts .title img {
        width: 320px;
    }
}

@media only screen and (max-width: 980px) {

    #title__avatar {
        display: none;
    }

    #title__avatar-1 {
        display: flex;
        justify-content: center;
        margin-top: $space-standart;
    }
}

@media only screen and (max-width: $break800) {

    .blog_posts {
        margin-left: $space-6P;
    }

    .blog_posts .general-title {
        font-size: 27px;
    }

    .title {
        margin-bottom: $space-4P;
    }

}

@media only screen and (max-width: 570px) {

    .title {
        flex-direction: column;
    }

    .blog_posts {
        margin: 0;
        padding: 0 $space-2P 0;
    }

    .blog_posts .title img {
        margin-bottom: $space-5P;
        margin-right: 0;
        width: 300px;
    }

}


// BlogPostMedia ---------------------------------


// Contakt ---------------------------------------


.contact h2 {
    margin: 0;
}

.contact {
    position: relative;
    padding-top: $space-3P;
    display: flex;
    justify-content: center;
    min-height: 690px;
    background-image: url(../../../../assets//elements/tło_gradient.png);
}

.contact > div {
    width: 87vh;
}

.contact  > div div:nth-child(1) {
    max-width: 68vh;
}

.contact__circle_03 {
    position: absolute;
    top: 55.5%;
    left: 27%;
    width: 31%;
}

form {
    position: relative;
    display: flex;
}

.contact form div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    max-width: 62vh;
    padding-top: $space-1_5P;
}

.contact form div:nth-child(2){
    display: flex;
    align-items: flex-end;
    margin-left: $space-3P;
}

.contact input,textarea {
    width: $standart-100P;
    height: $space-x-large;
    margin-bottom: $space-standart;
    outline: none;
    border: 0;
    box-shadow: 3px 3px 9px -2px $c-Gray;
    border-radius: $space-xxl-small;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: $c-Coffee;
    padding-left: $space-3P;
}

.contact textarea {
    height: 222px;
    resize: none;
    padding-top: $space-3P;
    margin-bottom: 0;
}


.contact .contact__autor {
    width: 550px;
    margin-left: $space-10P;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact__name div:first-of-type {
    max-width: 370px;
    height: 370px;
    display: flex;
    justify-content: flex-end;
    margin-top: $space-2P;
}

.contact__autor .contact__name div:nth-child(2) {
    text-align: end;
    margin-top: $space-2P;
}

.contact__name img {
    max-width: 370px;
    border-radius: $space-xxl-small;
    width: $standart-100P;
    height: $standart-100P;
}

.contact__mail {
    position: relative;
    right: 62%;
    bottom: 58%;
    width: 362px;
    height: 115px;
    background-color: $c-whiteOpaciti_93;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 3px 3px 9px -2px $c-Gray;
}

.contact__mail img {
    width: $standart-100P;
}

.contact__mail div:nth-child(1) {
    display: flex;
    width: 20%;
}


// Contakt ---------------------------------------


// ContaktMedia ----------------------------------


@media only screen and (max-width: $break-laptop) {

    .contact > div {
        margin-left: $space-5P;
    }

    .contact .contact__autor {
        margin-right: $space-4P;
        margin-left: $space-4P;
    }

    .contact__name {
        max-width: 322px;
    }

}

@media only screen and (max-width: $break-laptop-1024) {

    .contact {
        min-height: 330px;
        padding-top: $space-8P;
    }

    .contact .contact__autor {
        width: 433px;
    }

    .contact__name div:first-of-type {
        height: 344px;
    }

    form button {
        width: 130px;
        height: 51px;
    }

    .contact__mail {
        width: 264px;
        height: 92px;
    }

}

@media only screen and (max-width: 900px) {

    .contact {
        flex-wrap: wrap;
        padding: $space-standart $space-5P 0 0;
        max-height: 1400px;
    }

    .contact > div {
        margin-left: $space-10P;
        width: 90%;
    }

    .contact .contact__autor {
        position: relative;
        margin: $space-6P 0 0 $space-30P;
    }

    .contact__autor 
    .contact__name div:nth-child(2) {
        margin-top: $space-6P;
    }

    .contact__name div:first-of-type {
        height: 400px;
    }

    .contact__mail {
        position: absolute;
        width: 292px;
        height: 95px;
        right: 77%;
        bottom: 75%;
    }

    .contact__circle_03 {
        top: 82.5%;
        width: 43%;
    }
}

@media only screen and (max-width: $break-tablet) {

    .contact > div {
        margin-left: 0;
        width: 90%;
    }

    form {
        flex-direction: column;
    }

    .contact form div:nth-child(1),
    .contact > div div:nth-child(1) {
        max-width: 108vh;
    }

    .contact form div:nth-child(2) {
        margin-left: 0;
        margin-top: $space-2P;
        justify-content: center;
        align-items: center;
    }

    form button {
        width: $space-30P;
    }

    .contact .contact__autor {
        position: relative;
        margin: $space-2P 0 0 $space-30P;
    }
}

@media only screen and (max-width: 655px) {

    .contact__mail {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 370px;
        width: $standart-100P;
        margin-top: $space-standart;
        margin-bottom: $space-standart;
    }

    .contact .contact__autor {
        align-items: center;
        margin: $space-4P $space-4P 0;
    }

    .contact__name > div div:nth-child(1) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .contact__autor 
    .contact__name div:nth-child(2) {
        max-width: 370px;
    }

    .contact__autor 
    .contact__name div:nth-child(2) {
        text-align: center;
        margin-top: $space-15P;
    }

}

@media only screen and (max-width: 600px) {
    .contact > div {
        margin-left: $space-3P;
    }
}

@media only screen and (max-width: $break-500) {
    .contact__autor {
        margin-top: $space-4P;
    }
}

@media only screen and (max-width: $break-425) {
    .contact > div div:nth-child(1) {
        max-width: 44vh;
    }

    form {
        flex-wrap: wrap;
    }

    .contact form div:nth-child(1) {
        max-width: 45vh;
    }

    .contact form div:nth-child(2) {
        margin-left: 0;
        margin-top: $space-5P;
    }

    .contact__name div:first-of-type {
        height: 340px;
    }

}


// ContaktMedia ----------------------------------