@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


@font-face {
    font-family: Raleway Medium; 
    src: url(../assets/fonts/raleway_medium.ttf); 
   }

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #6F655A;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22.4px;
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}


